.awesome-table{
  top: 0vh;
  width: 96vw;
  display: inline-block;
  overflow-y: scroll;
  max-height:52vh;
}
.awesome-table table {
  top: 0vh;
  width: 94.3vw;
  margin: 0;
  font-size: 30px;
  overflow-y: scroll;
}
thead {
  background-color: cadetblue;
}
tbody tr{
    height: 8vh;
    background-color:bisque;
}
.t-body {
    cursor: pointer;
}

.adjust {
  max-height: 60vh;
}