.scrap_pur {
  position: absolute;
  top: 29vh;
  left: 2vw;
  height: 69vh;
  width: 44vw;
  font-size: 21px;
}
font {
  top: 1vh;
  position: absolute;
}
/*頭*/
.purchase_board {
  position: absolute;
  top: 0;
  height: 23vh;
  width: 100%;
}


.adjustselect {
  position: absolute;
  right: 12.5vw;
  width: 12vw;
  height: 10vh;
  font-size: 30px;
  overflow: visible;
}
.pbo1 {
  position: relative;
  width: 100%;
  height: 33%;
}
.pbo1_input1 {
  position: absolute;
  left: 5.5vw;
  width: 13vw;
}
.pbo1_input2 {
  position: absolute;
  width: 6vw;
  right: 12.5vw;
}
.pbo1_input3 {
  position: absolute;
  width: 6vw;
  right: 0;
}
.pbo1 font:nth-child(1) {
  left: 0;
}
.pbo1 font:nth-child(3) {
  right: 19vw;
}
.pbo1 font:nth-child(5) {
  right: 6.5vw;
}

.pbo2 {
  position: relative;
  width: 100%;
  height: 33%;
}
.pbo2_input1 {
  position: absolute;
  width: 7.5vw;
  left: 5.5vw;
}
.pbo2_input2 {
  position: absolute;
  width: 6vw;
  left: 18.5vw;
}
.pbo2 font:nth-child(1) {
  left: 0;
}
.pbo2 font:nth-child(3) {
  left: 13vw;
}
.insertbut {
  position: absolute;
  right: 0;
  width: 18.5vw;
  height: 13vh;
  font-size: 30px;
  background-color: lightskyblue;
  overflow: visible;
}


.pbo3 {
  position: relative;
  width: 100%;
  height: 33%;
}
.pbo3_input1 {
  position: absolute;
  width: 19vw;
  left: 5.5vw;
}
.pbo3 font:nth-child(1) {
  left: 0;
}
/*table*/
.purchase_table {
  position: absolute;
  bottom: 10vh;
  height: 36vh;
  width: 100%;
}
.el-table {
  font-size: 20px;
}
/*底*/
.purchase_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
}
.pb_back {
  position: absolute;
  height: 80%;
  width: 25%;
  left: 0;
  bottom: 0;
  font-size: 30px;
  color: black;
}
.pb_delet {
  position: absolute;
  height: 80%;
  width: 25%;
  right: 37%;
  bottom: 0;
  font-size: 30px;
  background-color: orangered;
  color: black;
}
.pb_confirm {
  position: absolute;
  height: 80%;
  width: 25%; 
  right: 0;
  bottom: 0;
  font-size: 30px;
  color: black;
}