.FunctionRowInventory {
  position: absolute;
  top: 13vh;
  width: 100vw;
  height: 10vh;
  background-color: whitesmoke;
}
.FunctionRowInventory font:nth-child(1){
  position: absolute;
  top: 3vh;
  left: 2vw;
}
.FunctionRowInventory .el-select:nth-child(2){
  position: absolute;
  top: 2vh;
  width: 10vw;
  left: 10vw;
}
.FunctionRowInventory font:nth-child(3){
  position: absolute;
  top: 3vh;
  right: 41vw;
}
.FunctionRowInventory .el-input:nth-child(4){
  position: absolute;
  top: 2vh;
  right: 18vw;
  width: 22vw;
}
.FunctionRowInventory .el-button:nth-child(5){
  position: absolute;
  top: 2vh;
  right: 10vw;
  background-color: coral;
  color: black;
}
.FunctionRowInventory .el-button:nth-child(6){
  position: absolute;
  top: 2vh;
  right: 2vw;
  background-color: firebrick;
  color: aquamarine;
}

.FunctionRow_Purchase {
  position: absolute;
  top: 13vh;
  width: 100vw;
  height: 10vh;
  background-color: whitesmoke;
}
.FunctionRow_Purchase font:nth-child(1){
  position: absolute;
  top: 3vh;
  right: 41vw;
}
.FunctionRow_Purchase .el-input:nth-child(2){
  position: absolute;
  top: 2vh;
  right: 18vw;
  width: 22vw;
}
.FunctionRow_Purchase .el-button:nth-child(3){
  position: absolute;
  top: 2vh;
  right: 10vw;
  background-color: coral;
  color: black;
}
.FunctionRow_Purchase .el-button:nth-child(4){
  position: absolute;
  top: 2vh;
  right: 2vw;
  background-color: firebrick;
  color: aquamarine;
}

.FunctionRow {
  position: absolute;
  top: 13vh;
  width: 100vw;
  height: 10vh;
  background-color: whitesmoke;
}
.FunctionRow font:nth-child(1){
  position: absolute;
  top: 3vh;
  left: 2vw;
}
.FunctionRow .el-select:nth-child(2){
  position: absolute;
  top: 2vh;
  width: 10vw;
  left: 10vw;
}
.FunctionRow font:nth-child(3){
  position: absolute;
  top: 3vh;
  right: 41vw;
}
.FunctionRow .el-input:nth-child(4){
  position: absolute;
  top: 2vh;
  right: 18vw;
  width: 22vw;
}
.FunctionRow .el-button:nth-child(5){
  position: absolute;
  top: 2vh;
  right: 10vw;
  background-color: coral;
  color: black;
}
.FunctionRow .el-button:nth-child(6){
  position: absolute;
  top: 2vh;
  right: 2vw;
  background-color: firebrick;
  color: aquamarine;
}

.plantviewtable {
  position: absolute;
  bottom: 0;
  height: 77vh;
  width: 100vw;
  background-color: whitesmoke;
}

.plantviewtable .el-table{
  position: absolute;
  width: 96%;
  left: 2vw;
  bottom: 2vh;
  font-size: 20px;
  font-weight: bold;
}